{% extends 'catalog/base.html' %}

{% block content %}
    <h1>Todo List</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.content }}</strong> (Created: {{ task.created_at }})
                {% if task.deadline %}
                    - Deadline: {{ task.deadline }}
                {% endif %}
                - Done: {{ task.done }}
                <a href="{% url 'update_task' task.id %}">Update</a>
                <a href="{% url 'delete_task' task.id %}">Delete</a>
                {% if task.done %}
                    <a href="{% url 'complete_task' task.id %}">Undo</a>
                {% else %}
                    <a href="{% url 'complete_task' task.id %}">Complete</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_task' %}">Add New Task</a>
{% endblock %}
